html,body{
	height:100%;
	width:100%;
	float:left;
	min-height: 100%;
	color: white;
	font-family: 'Allerta Stencil';font-size: 2vw;
	margin: 0;
	padding:0;

}
a{
	text-decoration: underline;
	color: hotpink;
}
.pair {
	width:100%;
	height:100%;
	float: left;
	background-color: #10141c;
	color: white;
}
#qtspinner
{
	position:fixed;
	width:95%;
	height:95%;
	bottom: 0;
	right: 0; 
	display:block;
}
#editor {
	width: 100%;
	height: 100%;
	float: left;
	font-family : monospace;
	font-size: 16px ;
	direction:ltr;
	text-align:left;
	overflow-y:scroll;
}
canvas {
	border: 0px none;
	background-color: transparent;
	width:100%;
	height:100%;
	display: none;
	outline: 0px solid transparent;
	caret-color: transparent;
	cursor:default

}
figure
{
	width:100%;
	height:100%;
}
img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	max-height: 70%;
}
center
{
	float: left;
	width: 100%;
	height: 100%;
}
footer
{
	float:left;
	width:100%;
	height:10%;
	background-color: #10141c;
	font-size: 2vw;
}
.fcont
{
	margin-top: 1%;
	margin-left: 1%;
	width:99%;
	height:99%;
	display:flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: column;
}
.splitter {
    width: 100%;
    height: calc(100%);
    display: flex;
}
.splitter > .gutter {
    background-color: #10141c;
    border: 0px;
}

.splitter > .gutter::before {
    background-color: #0f79af;
}

@media screen and (min-width: 700px) {
	.pair
	{
		height:90%;
	}

	footer
	{
		height:10%;
		font-size: 1vw;
	}
	.fcont
	{
		margin-top: 1%;
		margin-left: 1%;
		flex-direction: row;
	}
}
