html,body{
	height:100%;
	width:100%;
	float:left;
	min-height: 100%;
	color: white;
	background-color: #10141c;
	font-family: 'Titillium Web';
	font-size: 2vw;
	margin: 0;
	padding:0;

}
a{
	text-decoration: underline;
	color: hotpink;
}
.pair {
	width:100%;
	height:100%;
	float: left;
	background-color: #10141c;
	color: white;
}
#codeArea {
	padding:1%;
	visibility: collapse;
}
#qtspinner
{
	position:fixed;
	width:50%;
	height:50%;
	bottom: 25%;
	right: 25%;
	display:block;
	z-index: 1000
}
#editor {
	width: 100%;
	height: 100%;
	float: left;
	font-family : monospace;
	font-size: 16px ;
	direction:ltr;
	text-align:left;
	overflow-y:scroll;
}
.qtscreen { width: 100%; height: 100%; }
figure
{
	width:100%;
	height:100%;
}
img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	max-height: 70%;
}
center
{
	float: left;
	width: 100%;
	height: 100%;
}
footer
{
	background-color: #10141c;
	font-size: 2.0vw;
	display: none;
}
.fcont
{
	margin-top: 1%;
	margin-left: 1%;
	width:99%;
	height:99%;
	display:flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: column;
}
.splitter {
	display: flex;
}
.splitter > .gutter {
	background-color: #10141c;
	border: 0px;
	visibility: hidden;
}

.splitter > .gutter::before {
	background-color: #0f79af;
}

@media screen and (min-width: 700px) {
	#codeArea {
		width: 70%;
		height: 100%;
		visibility: visible;
	}
	footer
	{
		height:10%;
		width:100%;
		font-size: 1vw;
		position: absolute;
		top: 100%;
		display: inherit;
	}
	.fcont
	{
		margin-top: 1%;
		margin-left: 1%;
		flex-direction: row;
	}
	.splitter > .gutter {
		visibility: visible;
	}
}
